{{ .Scratch.Set "desired_page" (index .Params 0) }}
{{ .Scratch.Set "anchor_name" (index .Params 1) }}
{{ .Scratch.Set "desired_cite_style" (index .Params 2) }}

{{ with .Site.GetPage ($.Scratch.Get "desired_page") }}

<table>
  <tr>
    <td><a name={{ $.Scratch.Get "anchor_name" }}>{{ $.Scratch.Get "anchor_name" }}</a></td>
    <td>
      {{ if eq ($.Scratch.Get "desired_cite_style") 1 }}
        {{ partial "li_list" . }}
      {{ else if eq ($.Scratch.Get "desired_cite_style") 3 }}
        {{ partial "li_card" . }}
      {{ else if eq ($.Scratch.Get "desired_cite_style") 4 }}
        {{ partial "li_citation" . }}
      {{ else }}
        {{ partial "li_compact" . }}
      {{ end }}
     </td>
  </tr>
</table>

{{ end }}
